@model ChangePasswordViewModels

@{
    ViewBag.Title = "Change Password";
}

    <head>
        <link rel="stylesheet" type="text/css" href="~/css/changepassword.css">
        <link rel="stylesheet" type="text/css" href="~/css/universalstyle.css">
    </head>
<body>
    <div class="container">

        <div class="main-area">
            <h3>Change Password by following:</h3>
            <form method="post" asp-controller="Account" asp-action="ChangePassword">
                <div asp-validation-summary="All"></div>

                <label asp-for="CurrentPassword"><strong>Current Password:</strong></label>
                <input asp-for="CurrentPassword" />
                <span asp-validation-for="CurrentPassword"></span>
                <br>
                <label asp-for="NewPassword"><strong>New Password: </strong></label>
                <input asp-for="NewPassword" />
                <span asp-validation-for="NewPassword"></span>
                <br>
                <label asp-for="ConfirmPassword"><strong>Confirm Password: </strong></label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
                <br>
                <br>
                <input class="buttonuniversal" type="submit" value="Submit">
            </form>
        </div>

    </div>
</body>
