<head>
    <link rel="stylesheet" type="text/css" href="~/css/error.css">
</head>
<body>
    <div class="container">
        <div class="main-area">
            <div>
                <h3>If you have an account with us, we have sent an email with the instructions to reset the password !</h3>
                <br>
                <br>
                <button><a asp-controller="Home" asp-action="Index">Home Page</a></button>
            </div>
        </div>
    </div>
</body>

