@model ForgotPasswordViewModels
@{
    ViewBag.Title = "Forgot Password";
}

    <head>
        <link rel="stylesheet" type="text/css" href="~/css/forgotpassword.css">
        <link rel="stylesheet" type="text/css" href="~/css/universalstyle.css">
    </head>
<body>
    <div class="container">
        <div class="main-area">
            <h3>Introduce datele pentru a te loga:</h3>
            <form method="post"  asp-controller="Account" asp-action="ForgotPassword">
                <div asp-validation-summary="All"></div>
                <label asp-for="Email">Email: </label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>

                <input class="buttonuniversal" type="submit" value="Submit">
            </form>
        </div>

    </div>
</body>
