@model RegisterUserViewModel
@{
    ViewBag.Title = "Log In";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/registeruser.css">
</head>
<body>
    <div class="container">

        <div class="main-area">
            <h3>Introduce datele, pentru creearea unui cont:</h3>
            <form method="post">
                <div asp-validation-summary="All"></div>
                <label asp-for="Email">Email: </label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>

                <br>
                <label asp-for="Password"><strong>Parola:</strong></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>

                <br>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>
</body>

