@model LoginViewModels
@{
    ViewBag.Title = "User Login";
}

    <head>
        <link rel="stylesheet" type="text/css" href="~/css/registeruser.css">
        <link rel="stylesheet" type="text/css" href="~/css/universalstyle.css">
    </head>
<body>
    <div class="container">

        <div class="main-area">
            <h3>Introduce datele pentru a te loga:</h3>
            <form method="post">
                <div asp-validation-summary="All"></div>
                <label asp-for="Email">Email: </label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>

                <br>
                <label asp-for="Password"><strong>Parola:</strong></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
                <br>

                @Html.DisplayNameFor(m => m.RememberMe)
                <input asp-for="RememberMe"/>
                <br>
                <br>
                <input class="buttonuniversal" type="submit" value="Submit">
            </form>
            <div><a class="buttonuniversal" asp-controller="Account" asp-action="ForgotPassword">Forgot Password</a></div>
    </div>

    </div>
</body>

