@{
    ViewBag.Title = "Reset Password Confirmation";
}

    <head>
        <link rel="stylesheet" type="text/css" href="~/css/resetpasswordconfirmation.css">
        <link rel="stylesheet" type="text/css" href="~/css/universalstyle.css">
    </head>
<body>
    <div class="container">
        <div class="main-area">
            <h3>Your password was reset. Please click here to <a class="buttonuniversal" asp-controller="Account" asp-action="LogIn">log in.</a></h3>
        </div>
    </div>
</body>
