@model ResetPasswordViewModels

@{
    ViewBag.Title = "Reset Password";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/resetpassword.css">
</head>
<body>
    <div class="container">

        <div class="main-area">
            <h3>Reset Password following:</h3>
            <form method="post">
                <div asp-validation-summary="All"></div>
                <input asp-for="Token" type="hidden" />
                <input asp-for="Email" type="hidden" />
     

                <br>
                <label asp-for="Password"><strong>Password:</strong></label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>

                <br>
                <label asp-for="ConfirmPassword"><strong>Confirm Password: </strong></label>
                <input asp-for="ConfirmPassword" />
                <span asp-validation-for="ConfirmPassword"></span>
                <br>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>

    </div>
</body>