@model EditRoleViewModels
@{
    ViewBag.Title = "Edit Role";
}

    <head>
        <link rel="stylesheet" type="text/css" href="~/css/editrole.css">
        <link rel="stylesheet" type="text/css" href="~/css/universalstyle.css">
    </head>
<body>
    <div class="container">
        <div class="main-area">
            <form method="post" asp-action="EditRole">
                <p>Role Id:@Model.RoleId</p>
                <input asp-for="RoleId" type="hidden"/>
                <p>Current Role:@Model.RoleName</p>
                <label asp-for="RoleName">New Role Name:</label>
                <input asp-for="RoleName">
                <span asp-validation-for="RoleName"></span>

                <br>
                <br>
                <div asp-validation-summary="All"></div>
                <button class="buttonuniversal" type="submit">Update Role Name</button>
                <a  class="buttonuniversal" asp-controller="Administration" asp-action="ListRoles">Cancel</a>
            </form>
        </div>
        <div class="second-area">
            <p>Users that have this specific Role:</p>
            @if (Model.Users.Any())
            {
                foreach (var user in Model.Users)
                {
                    <p>User:@user</p>
                }
            }
            else
            {
                <p>None at the moment</p>
            }
            <br>
            <br>
            <a class="buttonuniversal" asp-controller="Administration" asp-action="EditUsersInRole" asp-route-id="@Model.RoleId">Add or Remove Users</a>
        </div>
    </div>
</body>
