<head>
    <link rel="stylesheet" type="text/css" href="~/css/error.css">
    <link rel="stylesheet" type="text/css" href="~/css/universalstyle.css">
</head>
<body>
    <div class="container">
        <div class="main-area">
            <div>
                <h1>@ViewBag.ErrorTitle</h1>
                <h3>@ViewBag.ErrorMessage</h3>
                <br>
                <br>
                <a class="buttonuniversal" asp-controller="Administration" asp-action="ListRoles">Back to All Roles</a>
            </div>
        </div>
    </div>
</body>
