<head>
    <link rel="stylesheet" type="text/css" href="~/css/captureuserdetails.css">
</head>
<body>
    <div class="container">
        <div class="main-area">
            <h3>Introduce datele, pentru creearea unui cont:</h3>
            <form>
                <label for="prenume">Prenume:</label>
                <input type="text" name="personname" id="prenume">

                <br>
                <label for="nume">Nume:</label>
                <input type="text" name="name" for="nume">

                <br>
                <label for="nume">Numar de telefon:</label>
                <input type="text" name="name" for="nume">

                <br>
                <label for="oras">Oras:</label>
                <input type="text" name="city" id="oras">

                <br>
                <label for="tara">Tara:</label>
                <input type="text" name="country" id="tara">

                <br>
                <label for="adresa">Adresa:</label>
                <input type="text" name="Adress" id="adresa">

                <br>
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
