@model HomeViewModels


@{ 
    ViewBag.Title= "Display Books";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/displaybooks.css">
</head>
<body>
    <div class="container">
        <div class="comedy">
            <h3>Comedy</h3>
            @foreach (var books in Model.BooksDisplayedInStore)
            {
                @if (books.BookGenre == "Comedy")
                {
                    <p>@books.BooksInStore</p>
                }
            }
        </div>
        <div class="drama">
            <h3>Drama</h3>
            @foreach (var books in Model.BooksDisplayedInStore)
            {
                @if (books.BookGenre == "Drama")
                {
                    <p>@books.BooksInStore</p>
                }
            }
        </div>
        <div class="science-fiction">
            <h3>Science-Fiction</h3>
            @foreach (var books in Model.BooksDisplayedInStore)
            {
                @if (books.BookGenre == "Science-Fiction")
                {
                    <p>@books.BooksInStore</p>
                }
            }
        </div>
        <div class="nature-science">
            <h3>Nature-Science</h3>
            @foreach (var books in Model.BooksDisplayedInStore)
            {
                @if (books.BookGenre == "Nature-Science")
                {
                    <p>@books.BooksInStore</p>
                }
            }
        </div>
    </div>
</body>