@model EditOrderBooksUserViewModels

@{
    ViewBag.Title = "Change Order of Books";
}
    <head>
        <link rel="stylesheet" type="text/css" href="~/css/editorder.css">
        <link rel="stylesheet" type="text/css" href="~/css/universalstyle.css">
    </head>
<body>
    <div class="container">
        <div class="main-area">
            <form method="post" asp-controller="Home">
                        <input asp-for="UserBooksId" type="hidden" />
                        <input asp-for="BookId" type="hidden" />
                        <input asp-for="UserId" type="hidden" />
                        <p>Book: @Model.BookToBuy</p>
                        <label asp-for="NrBooksOrdered">Books Ordered:</label>
                        <input asp-for="NrBooksOrdered"/>
                        <input type="submit" value="Update Order" />
            </form>
            <a class="buttonuniversal" asp-controller="Home" asp-action="OrderBooks" asp-route-id="@Model.UserId">Go Back</a>
        </div>
    </div>
</body>
