<!-- nu se poate avea "un model aici cat si in layout" , va trebuie sa se faca injectand, cel mai probabil (inject)-->

@{
    ViewBag.Title = "BookStore Page";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/css/index.css">
</head>
<body>
    <div class="container">
        <div class="main-area">
            <h1>Enrich your knowledge, by choosing a book !</h1>
            <ul class="style-list-main">
                <li>Comedy</li>
                <li>Drama</li>
                <li>Horror</li>
                <li>Science Fiction</li>
                <li>Nature Science</li>
            </ul>
            <div class="books-link"><p><a asp-controller="home" asp-action="DisplayBooks">Choose a book !</a></p></div>
            <form>
                Introduce o carte pe care ai dorii sa o citesti:
                <input type="text" name="introduceretext">
            </form>
        </div>
        <div class="aside-area">
            <h2>Quotes</h2>
            <div class="container-aside-area">
                <p>„Tocmai posibilitatea de a realiza un vis face viaţa interesantă.” („Alchimistul”, Paulo Coelho)</p>
                <p>„Nu există mai mare agonie decât cea de a purta cu tine o poveste nespusă.” (I Know Where the Caged Bird Sings”, Maya Angelou)</p>
                <p>„Sunt întunecimi în viață și sunt lumini, iar tu ești una dintre lumini, lumina tuturor luminilor” („Dracula”, Bram Stoker)</p>
                <p>„Tu ești templul meu, murmur, în timp ce îngenunchez lângă ea. Tu îmi ești preot. Tu îmi ești iertarea păcatelor”. („Elias și spioana cărturarilor. II. O torță în noapte”, Sabaa Tahir).</p>
            </div>
            <div class="power">
                <p>Knowledge is power !</p>
            </div>
        </div>
        <div class="nav-area">
            <h2>Informations</h2>
            <ul class="style-list">
                <li><a asp-controller="Account" asp-action="RegisterUser">Create Account</a></li>
                <li><a asp-controller="Account" asp-action="ChangePassword">Change Password</a></li>
                <li><a asp-controller="UserDetails" asp-action="ShowUserDetails">Profile</a></li>
            </ul>
        </div>
    </div>
</body>

