@model EditBookViewModels

@{
    ViewBag.Title = "Edit Book";
    var deleteBookId = ViewBag.deleteBookId;
}

    <head>
        <link rel="stylesheet" type="text/css" href="~/css/editbook.css">
        <link rel="stylesheet" type="text/css" href="~/css/universalstyle.css">
    </head>
<body>
    <div class="container">
        <div class="main-area">
            <form method="post" asp-controller="AdministrationBooks" asp-action="EditBook">
                <h2>Edit Book</h2>
                <input asp-for="Id" type="hidden" />
                <br>
                <label asp-for="BooksInStore">Book:</label>
                <input asp-for="BooksInStore">
                <span asp-validation-for="BooksInStore"></span>
                <br>
                <label asp-for="BookGenre">Genre of Book:</label>
                <input asp-for="BookGenre" />
                <span asp-validation-for="BookGenre"></span>
                <br>
                <label asp-for="StockOfBooks">Stock of Books:</label>
                <input asp-for="StockOfBooks">
                <span asp-validation-for="StockOfBooks"></span>
                <br>
                <label asp-for="Price">Price:</label>
                <input asp-for="Price">
                <span asp-validation-for="Price"></span>
                <br>
                <br>
                <div asp-validation-summary="All"></div>
                <button  class="buttonuniversal" type="submit">Update</button>
                <a class="buttonuniversal" asp-controller="Home" asp-action="Index">Cancel</a>
            </form>
            <br>
            <form asp-controller="AdministrationBooks" asp-action="DeleteBook" asp-route-id="@deleteBookId" method="post">
                <span id="confirmationDeleteSpan_@deleteBookId" style="display:none">
                    <span>Are you sure, you want to delete the book ?</span>
                    <button type="submit">Yes</button>
                    <button><a href="#" onclick="confirmDelete('@deleteBookId', false)">No</a></button>
                </span>
                <span id="deleteSpan_@deleteBookId">
                    <button><a href="#" onclick="confirmDelete('@deleteBookId', true)">Delete</a></button>
                </span>
            </form>
        </div>
    </div>
</body>
