.main-area {
    grid-area: m;
    background-color: rgb(209, 230, 227);
}

/*Grid Layout*/
.container {
    display: grid;
    grid-template-areas:
        "m m m m m m"
        "m m m m m m"
        "m m m m m m";
    padding: 10px;
    gap: 10px;
}

@media screen and (min-width:760px) {
    .container {
        display: grid;
        grid-template-areas: 
            "m m m m m m" 
            "m m m m m m" 
            "m m m m m m";
        padding: 10px;
        gap: 10px;
    }
}
