
.comedy {
    grid-area: c;
    background-color: cornflowerblue;
}

.drama {
    grid-area: d;
    background-color: cornflowerblue;
}

.science-fiction {
    grid-area: s;
    background-color: cornflowerblue;
}

.nature-science {
    grid-area: n;
    background-color: cornflowerblue;
}
.searchbook {
    grid-area: sb;
    background-color: #ff99ff;
}
.statusbooks {
    grid-area: stb;
    background-color: #ff99ff;
}

body {
    margin: 10px;
    background-color: #6b5b95;
}

/* CSS Design !!! */

.top-area, .comedy, .drama, .science-fiction, .nature-science, .footer-area, .searchbook, .statusbooks {
    border-radius: 15px;
    padding: 5px;
}



    /*TOP-AREA*/
    .top-area h1, p {
        margin: 0px;
        padding: 0px;
    }
    .top-area h1 {
        text-align: center;
    }
    .top-area p {
        text-align: left;
    }

/*Genre Area*/
    .comedy h3 {
        margin: 0px;
        padding: 0px;
        text-align: center;
        padding-bottom: 10px;
    }

    .drama h3 {
        margin: 0px;
        padding: 0px;
        text-align: center;
        padding-bottom: 10px;
    }

    .science-fiction h3 {
        margin: 0px;
        padding: 0px;
        text-align: center;
        padding-bottom: 10px;
    }

    .nature-science h3 {
        margin: 0px;
        padding: 0px;
        text-align: center;
        padding-bottom: 10px;
    }

    .comedy p {
        text-align: left;
    }

    .drama p {
        text-align: left;
    }

    .science-fiction p {
        text-align: left;
    }

    .nature-science p {
        text-align: left;
    }
    /*------------------*/

/*Style the table*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom:8px;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}
td {
    text-align:center;
}
/*----------------------*/

/*Order Button*/
.orderbutton {
    background-color: orangered; /* Green */
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding:5px;
    border-radius:15px;
}




    /*FOOTER-AREA*/
    .footer-area h1, h2, p {
        margin: 0;
        padding: 0;
    }

    .footer-area h2, p {
        text-align: center;
    }


/* Grid Layout !!! (Structure of the grid)*/
.container {
    display: grid;
    grid-template-areas: 
        "sb sb sb sb sb sb sb sb" 
        "stb stb stb stb stb stb stb stb"
        "c c c c s s s s" 
        "c c c c s s s s"
        "n n n n d d d d" 
        "n n n n d d d d";
    padding: 0px 10px;
    grid-gap: 10px;
}


/*Structure of the grid when it's smaller than 760px*/
@media screen and (max-width:760px) {
    .container {
        display: grid;
        grid-template-areas: 
            "sb sb sb sb sb sb sb sb" 
            "stb stb stb stb stb stb stb stb" 
            "c c c c c c c c" 
            "s s s s s s s s" 
            "n n n n n n n n" 
            "d d d d d d d d";
        padding: 0px 10px;
        grid-gap: 10px;
    }
}