
.comedy {
    grid-area: c;
    background-color: brown;
}

.drama {
    grid-area: d;
    background-color: coral;
}

.science-fiction {
    grid-area: s;
    background-color: cornflowerblue;
}

.nature-science {
    grid-area: n;
    background-color: darkgray;
}

body {
    margin: 10px;
    background-color: skyblue;
}

/* CSS Design !!! */

.top-area, .comedy, .drama, .science-fiction, .nature-science, .footer-area {
    border-radius: 15px;
    padding: 5px;
}



    /*TOP-AREA*/
    .top-area h1, p {
        margin: 0px;
        padding: 0px;
    }
    .top-area h1 {
        text-align: center;
    }
    .top-area p {
        text-align: left;
    }

/*Genre Area*/
    .comedy h3 {
        margin: 0px;
        padding: 0px;
        text-align: center;
        padding-bottom: 10px;
    }

    .drama h3 {
        margin: 0px;
        padding: 0px;
        text-align: center;
        padding-bottom: 10px;
    }

    .science-fiction h3 {
        margin: 0px;
        padding: 0px;
        text-align: center;
        padding-bottom: 10px;
    }

    .nature-science h3 {
        margin: 0px;
        padding: 0px;
        text-align: center;
        padding-bottom: 10px;
    }

    .comedy p {
        text-align: left;
    }

    .drama p {
        text-align: left;
    }

    .science-fiction p {
        text-align: left;
    }

    .nature-science p {
        text-align: left;
    }

    /*FOOTER-AREA*/
    .footer-area h1, h2, p {
        margin: 0;
        padding: 0;
    }

    .footer-area h2, p {
        text-align: center;
    }


/* Grid Layout !!! (Structure of the grid)*/
.container {
    display: grid;
    grid-template-areas:  
        "c c s s n n d d" 
        "c c s s n n d d" 
        "c c s s n n d d" 
        "c c s s n n d d" 
        "c c s s n n d d";
    padding: 10px;
    grid-gap: 10px;
}


/*Structure of the grid when it's smaller than 760px*/
@media screen and (max-width:760px) {
    .container {
        display: grid;
        grid-template-areas: 
            "c c c c c c c c" 
            "s s s s s s s s" 
            "n n n n n n n n" 
            "d d d d d d d d";
        padding: 10px;
        grid-gap: 10px;
    }
}