body {
    margin: 10px;
    background-color: skyblue;
}

.main-area {
    background-color: rgb(209, 230, 227);
    grid-area: m;
}

.aside-area {
    background-color: darkkhaki;
    grid-area: a;
}

.nav-area {
    background-color: darkseagreen;
    grid-area: n;
}


/* CSS Design !!! */

.top-area, .aside-area, .main-area, .nav-area {
    border-radius: 15px;
    padding: 5px;
}

    /*Navigation-Area*/
    .nav-area ul.style-list {
        list-style-type: circle;
    }

        .nav-area ul.style-list li:hover {
            color: rgb(10, 129, 165);
        }

        .nav-area ul.style-list li:active {
            color: rgb(2, 51, 54);
        }

/*ASIDE-ARE*/

.aside-area h2 {
    margin: 0px;
    padding: 0px;
}

.aside-area h2 {
    padding-bottom: 5px;
}

.container-aside-area p {
    padding: 5px 15px;
}

.power p{
  text-align:left;
}
.aside-area .power {
padding:5px;
}




/*Main-Area*/
.main-area h1 {
    margin: 0;
    padding: 0;
}
.style-list-main {
    margin: 0;
    padding: 0;
}

.style-list-main li {
        list-style-type: none;
        padding-top: 2px;
}

.main-area .books-link p {
    padding: 25px;
}

.main-area p {
    padding-bottom: 10px;
}




/* Grid Layout !!!    (Structure of the grid)*/
.container {
    display: grid;
    grid-template-areas:  
        "m m m m m m" 
        "m m m m m m" 
        "n n n n n n" 
        "a a a a a a";
    padding: 0px 10px;
    grid-gap: 10px;
}


/*Structure of the grid in case it gets lower than 760px*/
@media screen and (min-width:760px) {
    .container {
        display: grid;
        grid-template-areas: 
            "n n m m m m" 
            "a a m m m m";
        padding: 0px 10px;
        grid-gap: 10px;
    }
}
