/*============================================*/
/*Areas for the GRID*/
.top-area {
    grid-area: t;
    background: burlywood;
}
.footer-area {
    grid-area: f;
    background-color: slategray;
}
/*============================================*/
/*============================================*/
/*Style Area*/
.top-area, .footer-area {
    border-radius: 15px;
    padding: 5px;
}
    /*FOOTER-AREA*/
    .footer-area h1, h2, p {
        margin: 0;
        padding: 0;
    }

    .footer-area h2, p {
        text-align: center;
    }

/*Border all around*/
.capture-all-areas {
    border-radius: 25px;
    border: 2px solid black;
}
/*============================================*/
/*============================================*/
/*Create a grid for top area*/
.top-title {
    grid-area: book;
}

.top-home-section {
    grid-area: home;
}

.top-userfeedback {
    grid-area: user;
}

/*Style Top-Area*/
.top-title h1 {
    text-align: center;
}

.top-userfeedback ul {
    list-style-type: none;
    text-align: center;
}

.top-userfeedback ul li {
    display: inline;
    padding-right: 5px;
    }
.top-home-section h3 {
    text-align:center;
}

/*Container Grid for top area*/
.top-area {
    display: grid;
    grid-template-areas: 
        "book book book book book book book"
        "home home home home home user user";
    padding:0px;
}
/*============================================*/

/*============================================*/
/* Grid Layout !!!  (Structure of the grid) */
.first-container{
    display: grid;
    grid-template-areas: 
        "t t t t t t"
        "f f f f f f";
    padding: 10px;
    grid-gap: 10px;
}

/*Structure of the grid in case it gets lower than 760px*/
@media screen and (min-width:760px) {
    .first-container{
        display: grid;
        grid-template-areas: 
            "t t t t t t" 
            "f f f f f f";
        padding: 10px;
        grid-gap: 10px;
    }
}
/*============================================*/