.main-area {
    grid-area: m;
    background-color: #ffbf00;
}
.main-area{
    border-radius: 15px;
    padding: 5px;
}
input{
    width:100%;
}
* {
    box-sizing: border-box;
}

/*Grid Layout*/
.container {
    display: grid;
    grid-template-areas: 
        "m m m m m m";
    padding: 0px 10px;
    grid-gap: 10px;
}

@media screen and (min-width:760px) {
    .container {
        display: grid;
        grid-template-areas: 
            "m m m m m m";
        padding: 0px 10px;
        grid-gap: 10px;
    }
}
