<head>
    <link rel="stylesheet" type="text/css" href="~/css/captureuserdetails.css">
</head>
<body>
    <div class="container">
        <div class="main-area">
            <div>
                <p>Prenume: </p>
                <p>Nume: </p>
                <p>Numar de telefon: </p>
                <p>Oras: </p>
                <p>Tara: </p>
                <p>Adresa: </p>
                <p>Carti Comandate: </p>
            </div>

            <h4>Detaliile contului dumneavoastra sunt in regula ? Daca nu: Click aici, pentru a modifica datele !</h4>

            <form>
                <label for="prenume">Prenume:</label>
                <input type="text" name="personname" id="prenume">

                <br>
                <label for="nume">Nume:</label>
                <input type="text" name="name" for="nume">

                <br>
                <label for="nume">Numar de telefon:</label>
                <input type="text" name="name" for="nume">

                <br>
                <label for="oras">Oras:</label>
                <input type="text" name="city" id="oras">

                <br>
                <label for="tara">Tara:</label>
                <input type="text" name="country" id="tara">

                <br>
                <label for="adresa">Adresa:</label>
                <input type="text" name="Adress" id="adresa">

                <br>
                <br>
                <input type="submit" value="Submit">
            </form>

            <h2>Comanda o carte !</h2>

        </div>
    </div>
</body>
