@model UserDetailsViewModels

<head>
    <link rel="stylesheet" type="text/css" href="~/css/captureuserdetails.css">
</head>
<body>
    <div class="container">
        <div class="main-area">

            <form method="post">
                <div asp-validation-summary="All"></div>
                <label asp-for="Name">Prenume:</label>
                <input asp-for="Name">
                <span asp-validation-for="Name"></span>

                <br>
                <label asp-for="FamilyName">Nume:</label>
                <input asp-for="FamilyName">
                <span asp-validation-for="FamilyName"></span>

                <br>
                <label asp-for="Age">Varsta:</label>
                <input asp-for="Age">
                <span asp-validation-for="Age"></span>

                <br>
                <label asp-for="PhoneNumber">Numar de telefon:</label>
                <input asp-for="PhoneNumber">
                <span asp-validation-for="PhoneNumber"></span>

                <br>
                <label asp-for="City">Oras:</label>
                <select asp-for="City" asp-items="Html.GetEnumSelectList<Cities>()">
                </select>
                <span asp-validation-for="City"></span>

                <br>
                <label asp-for="Country">Tara:</label>
                <select asp-for="Country" asp-items="Html.GetEnumSelectList<Countries>()">
                </select>
                <span asp-validation-for="Country"></span>

                <br>
                <label asp-for="Adress">Adresa:</label>
                <input asp-for="Adress" >
                <span asp-validation-for="Adress"></span>

                <br>
                <br>
                <input type="submit" value="Submit">
            </form>

        </div>
    </div>
</body>
