@model UserDetailsViewModels
<head>
    <link rel="stylesheet" type="text/css" href="~/css/showuserdetails.css">
</head>
<body>
    <div class="container">
        <div class="main-area">
            <div>
                <p>Email Adress:@Model.Email</p>
                <p>Prenume:@Model.Name </p>
                <p>Nume:@Model.FamilyName </p>
                <p>Numar de telefon:@Model.PhoneNumber </p>
                <p>Oras: @Model.City </p>
                <p>Tara: @Model.Country</p>
                <p>Adresa: @Model.Adress</p>
                <p>Carti Comandate: @Model.Books</p>
            </div>

            <h4>Detaliile contului dumneavoastra sunt in regula ? <a asp-action="CaptureUserDetails" asp-controller="UserDetails">Click aici</a>, pentru a modifica datele !</h4>
            <h2>Comanda o carte !</h2>

        </div>
    </div>
</body>