
<head>
    <link rel="stylesheet" type="text/css" href="~/css/showuserdetails.css">
</head>
<body>
    <div class="container">
        <div class="main-area">
            <div>
                <p>Email Adress:</p>
                <p>Prenume: </p>
                <p>Nume: </p>
                <p>Numar de telefon: </p>
                <p>Oras: </p>
                <p>Tara: </p>
                <p>Adresa: </p>
                <p>Carti Comandate: </p>
            </div>

            <h4>Detaliile contului dumneavoastra sunt in regula ? Click aici, pentru a modifica datele !</h4>
            <h2>Comanda o carte !</h2>

        </div>
    </div>
</body>