@model UserDetailsViewModels
<head>
    <link rel="stylesheet" type="text/css" href="~/css/showuserdetails.css">
</head>
<body>
    <div class="container">
        <div class="main-area">
            <div>
                <p>Email Adress:@Model.Email</p>
                <p>Name:@Model.Name </p>
                <p>Last Name:@Model.FamilyName </p>
                <p>Phone Number:@Model.PhoneNumber </p>
                <p>City: @Model.City </p>
                <p>Country: @Model.Country</p>
                <p>Adress: @Model.Adress</p>
                <p>Books Ordered: @Model.Books</p>
            </div>

            <h4>Your account details are ok ? If Not,<a class="buttonuniversal" asp-action="CaptureUserDetails" asp-controller="UserDetails">Click here</a>, to change the data !</h4>
            <h2>Order a Book !</h2>

        </div>
    </div>
</body>